.searchbar-container {
  display:flex;  
  align-content: center;
  border: 2px solid #000000;
  margin-top:32px;
}

.searchbar-container:hover {
  box-shadow: 0 0 0 2px #000000;
  transition: 0.5s;
}

.searchbar-container:focus-within .search-icon {
  opacity:1
}

.search-box {
  display:flex;
  justify-content: start;
  align-items: center;
  height:102px;
  width: 743px;
  cursor:text;
}

.search-icon {
  padding-left:24px;
  fill:black;
  opacity:0.5;
  cursor:text;
  width:24px;
  max-width:24px;
}

.search-input {
  padding-left:20px;
  outline:none;
  border:0;
  width:650px;
  font-size:24px;

  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.search-button {
  display:flex;
  align-content: center;
  width:218px;
  height: 102px;
  display:flex;
  justify-content: start;
  align-items: center;
  padding:0px;
  background-color: var(--color-purple);
  float:right;
  border:none;
  border-left: 2px solid #000000;
  cursor: pointer;
}

/* .search-button:hover {
  background-color: var(--color-purple-hover);
} */

.search-button:hover .search-arrow {
  fill:white;
  transition:0.5s;
}

.search-button:focus .search-arrow {
  fill:white;
}

/* .search-button:active {
  background-color: var(--color-purple-active);
} */

.search-button-text {
  margin-left: 23.5px;
  font-size: 40px;
  color: #ffffff;
}

.search-arrow {
  margin-left:10px;
  fill: #ffffff;
}

@media only screen and (max-width:991px) {
  .searchbar-container {
   flex-direction: column;
   border: none;
  }

  .searchbar-container:hover {
    box-shadow: none;
  }

  .search-box {
    height:70px;
    width:auto;
    border: 2px solid #000000;
    margin-bottom:8px;

  }

  .search-icon {
    width: 16px;
    min-width:16px;
    
  }

  .search-input {
    font-size: 16px;
    padding:0 24px 0 8px;
  }

  .search-button {
    justify-content: center;
    width:auto;
    height: 56px;
    float:right;
    border: 2px solid #000000;
  }

  .search-button-text {
    font-size: 16px;
  }

  .search-arrow {
    width:24px;
  }


}
