.main a:visited {
  color: var(--color-green-visited)
}

.main {
  font-family: var(--font-family);
  width: 960px;
  margin:0 auto;
}

@media only screen and (max-width: 991px) { 
  .main {
    width: auto;
    margin:0 16px;
  }
}
